[Unit]
Description=Automatic screen brightness adjustment
After=systemd-user-sessions.service multi-user.target graphical.target

[Service]
ExecStart=/home/stepan/gemini/bin/auto-brightness.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target